.background     {background: url("https://orig00.deviantart.net/20d0/f/2016/317/f/e/pacific_mountain_range_mspaint_background__small__by_birritan-d8frpok.png");
                 background-size:contain;
                 background-position: center;
                 table-layout: fixed;
                 border-spacing: 0;   }
.background td  { padding: 0;          }
.lava           { background: rgb(255, 100, 100); }
.wall           { background: black;   }
.floater        { background: orange;
                  position: absolute;}

.floater:before,

.floater:after  { background:orange;
                  content: "";
                  position: absolute;
                  left: 10px;
                  top: 0;
                  width: 20px;
                  height: 35px;
                  border-radius: 20px 20px 0 0;
                  transform: rotate(-45deg);
                  transform-origin: 0 100%; }
.floater:after  { left: -10px;
                  transform: rotate(45deg);
                  transform-origin:100% 100%; }

.game {
  position: relative;
}
